<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @station.name %>
</p>

<p>
  <b>Dis:</b>
  <%= @station.dis %>
</p>

<p>
  <b>Dst:</b>
  <%= @station.dst %>
</p>


<%= link_to 'Edit', edit_station_path(@station) %> |
<%= link_to 'Back', stations_path %>
