<%= form_for(@train) do |f| %>
  <% if @train.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@train.errors.count, "error") %> prohibited this train from being saved:</h2>

      <ul>
      <% @train.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :no %><br />
    <%= f.number_field :no %>
  </div>
  <div class="field">
    <%= f.label :std %><br />
    <%= f.text_field :std %>
  </div>
  <div class="field">
    <%= f.label :wkd %><br />
    <%= f.text_field :wkd %>
  </div>
  <div class="field">
    <%= f.label :hld %><br />
    <%= f.text_field :hld %>
  </div>
  <div class="field">
    <%= f.label :dir %><br />
    <%= f.text_field :dir %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
